[2021-11-29 17:41] owentechnologist opened #4 "Add support for redisgraph / GORM"
Something like:  https://gorm.grails.org/6.1.x/neo4j/manual/index.html

[2021-12-07 23:44] xmlking opened #5 "Is com.redis.om:redis-om-spring published?"
is `com.redis.om:redis-om-spring`  published to maven ?
or should I build locally ?

[code]

[code]

[2021-12-09 23:04] bsbodden commented on #5
We are working on the CI pipeline, expect it out on Maven Central next week!

[2021-12-09 23:56] xmlking opened #6 "reative redis API via lettuce?"
when attempted to use with `ReactiveRedisTemplate`, getting   `JedisConnectionFactory` not found error.

I understand this project is in development.
wonder if  you have plans to enable Reactive API (ReactiveCrudRepository etc) via lettuce?

[code]

[code]

[2021-12-10 16:40] bsbodden commented on #6
@xmlking currently we are only in non-reactive mode using Jedis under the covers. We are looking into the dual the Jedis/Lettuce support like Spring Data Redis.

[2021-12-10 16:40] #6 closed

[2021-12-10 16:48] bsbodden commented on #4
@owentechnologist I will have the basic graph annotations in near the end of the year. Then I'm merging this https://github.com/bsbodden/jredisgraph-qb with it after refining it

[2021-12-10 17:03] xmlking commented on #6
Thanks a lot @bsbodden for making this available for early evaluators.
I will keep testing and share the feedback.

[2021-12-19 17:45] bsbodden commented on #5
Use

[code]

and

[code]

[2021-12-19 17:45] #5 closed

[2021-12-20 20:34] xmlking opened #9 "using both @RedisHash and @Document"
If I want to use  both `@RedisHash` and `@Document` in one spring-boot app, do I have to add both  EnableRedisEnhancedRepositories , EnableRedisDocumentRepositories ?

[code]

[2021-12-20 20:49] bsbodden commented on #9
For now, yes, I'm thinking of adding a top level annotation that will bring everything in. Also, not currently supporting nested repos, or haven't tested them yet.

[2021-12-20 21:48] #9 closed

[2021-12-20 22:27] xmlking commented on #9
when using both, FT.CREATE is not generated.

[code]

redis-cli MONITOR
[code]

when using only `@EnableRedisEnhancedRepositories(basePackages = ["micro.apps.service"]) ` FT.CREATE is generated properly.

redis-cli MONITOR
[code]

[2021-12-20 22:51] xmlking commented on #9
@bsbodden

[2021-12-28 16:31] xmlking opened #10 "Add entity relationship mapping support"
This issue is to track some of the features still in development:

1. **RedisHash:** `@Reference` deserialization is not working e.g., `User` _has_ `Role`.  Serialization works but not deserialization. This was working in the original _Spring Data Redis (SDR)_.  _Indexing_ works as expected.

    Redis Hash use case:
[code]

2.  **RedisJSON:** Search index creation not working for complex nested e

[2022-01-06 04:34] #10 closed

[2022-01-08 19:28] xmlking opened #12 "Document one-to-many support"
I tried testing one-to-many relationship (embedded) with RedisJSON

**Person 1 -> * Address** is it supported ?

I see two anomalies in generated **FT.CREATE**

1. `$.addresses[*]"`
2. `"$.email[*]" "AS" "email" "TAG" `  was expecting `"$.email" "AS" "email" "TAG"`

[code]

[2022-01-08 20:46] bsbodden commented on #12
See the new demo permits, specifically https://github.com/redis/redis-om-spring/blob/main/demos/roms-permits/src/main/java/com/redis/om/permits/models/Permit.java it has an Address 1-to-1 using `@Indexed` which then goes into the Address class looking for subfields containing `@Indexed`. I'll publish the 0.2.0 snapshot which should have that functionality, or you can just run the demo from this re

[2022-01-08 20:58] xmlking opened #13 "for RedisHash @Reference fields has to be nullable ?"
I noticed I have to mark `role` as **nullable**. Otherwise I am getting following error

I guess you are creating **User** without **Role** first and then setting role.
will it be possible to query role first and then pass it to **User** constructor? this will help with enforcing strict null checking contract
[code]

[code]

[code]

[code]

[2022-01-08 21:23] bsbodden commented on #12
@xmlking I just pushed 0.2.0-SNAPSHOT, please give it a try following the roms-permits demo, see what you get. Thanks!

[2022-01-08 21:28] bsbodden commented on #13
@xmlking I did that just for the Lombok factories stuff to work nicely. But you should be able to have a `RoleRepostory`, find a role by name/id/etc and set it on a new `Company` before you save it. It should not create a new Role as long as the id is not null. I'm inheriting that from Spring Data Redis. Where we come into play is when querying. Please give it a try and if you find some issues sen

[2022-01-08 21:44] bsbodden commented on #13
FYI, if you use Postman there is a postman collection file at demos/redis-om-spring.postman_collection.json which has test request for all the apps under /demos

[2022-01-08 23:18] xmlking commented on #12
with latest  `0.2.0-SNAPSHOT`  **email** and  **1-to-1** `Person-to-address` index is produced  as expected.
I guess indexing on **1-to-many** `Person-to-addresses`  not possible due to RedisJSON limitation

[code]

```1641683366.251372 [0 10.4.1.1:37100] "FT.CREATE" "PersonIdx" "ON" "JSON" "PREFIX" "1" "micro.apps.service.Person:" "SCORE_FIELD" "$.score" "SCHEMA" "$.name.first" "AS" "name_first"

[2022-01-08 23:24] xmlking commented on #12
is this still valid approach to convert `SearchResult` to  model i.e., `Person` ?

[code]

I saw somewhere in you code `result.docs.get(0).get("$").toString()`  and a bit confused

[2022-01-08 23:28] xmlking commented on #12
**not related ask:** may be in the future looking for options to use other JSON serializers beyond  **gson**.
for example we are using [kotlinx.serialization ](https://github.com/Kotlin/kotlinx.serialization) for our models

[2022-01-09 04:42] bsbodden commented on #12
For JSON searches you can use GSON to transform the payload to the target class. Not for @RediHash annotated models. For those you'll have to do something like https://github.com/redis/redis-om-spring/blob/main/redis-om-spring/src/main/java/com/redis/om/spring/repository/query/RedisEnhancedQuery.java#L230 which relies on https://github.com/redis/redis-om-spring/blob/main/redis-om-spring/src/main/j

[2022-01-09 04:42] #12 closed

[2022-01-20 02:31] Cherry-Ran opened #15 "can't run in JDK 8 ?"
most of JAVA developer are use JDK8 version in China,and have you plan for adaptation JDK 8 ?

[2022-01-29 08:47] WqiancangQ opened #16 ""2.2.0-SNAPSHOT" version of jredisearch and jrebloom cannot be downloaded"
https://s01.oss.sonatype.org/content/repositories/snapshots/
"2.2.0-SNAPSHOT" in redis-om-spring cannot be downloaded through the maven repository linked above.

I found the address of his repository through "jredisearch" of github: "https://oss.sonatype.org/content/repositories/snapshots", this address cannot be accessed, I don't know if the domain name has changed,
but the address: "https ://oss

[2022-01-31 14:59] #16 closed

[2022-01-31 15:01] bsbodden commented on #15
There are no current plans for JDK8 support at the moment, once we get the code base to a 1.0 release we'll re-evaluate.

[2022-01-31 15:01] #15 closed, assigned to nobody

[2022-02-22 09:57] zyzyzy523 opened #18 "How often to release a RELEASE version"
How often to release a RELEASE version

[2022-03-02 09:39] luxia7758 opened #19 "Repositories init fail"
I try to use it just like what /demos/roms-documents shows.

my redis-om version is 0.3.0-SNAPSHOT
and I use spring boot 2.6.3

org.springframework.beans.factory.UnsatisfiedDependencyException: Error creating bean with name 'teacherRepository' defined in com.xxxxxx.domain.repository.school.TeacherRepository defined in @EnableRedisDocumentRepositories declared on DemoAService: Unsatisfied dependenc

[2022-03-02 23:52] bsbodden commented on #18
I'm aiming at a minor release every 3-4 weeks until we reach a 1.0 GA

[2022-03-02 23:52] #18 closed

[2022-03-02 23:55] bsbodden commented on #19
@luxia7758 here's a standalone working example with Document Repos. https://github.com/redis-developer/redis-om-spring-skeleton-app See if that works for you and then adjust yours to match. If your repo is public you can also point me to it and I can clone it and give it a try.

[2022-03-02 23:55] #13 closed

[2022-03-02 23:55] #4 closed

[2022-03-03 01:02] GeWiier opened #20 "worked with springdoc"
provided java bean
    @Bean
    public GroupedOpenApi publicApi() {
        return GroupedOpenApi.builder()
                .packagesToScan("com.universal")
                .group("universal-uaa")
                .pathsToMatch("/**")
                .build();
    }

then
org.springframework.beans.factory.UnsatisfiedDependencyException: Error creating bean with name 'redisSessionTokenRepository' d

[2022-03-03 19:52] bsbodden commented on #20
The above doesn't tell me much about why it couldn't create a `com.redis.om.spring.ops.RedisModulesOperations`. How are you running Redis? Can you also share your POM or gradle build?

[2022-03-04 01:47] GeWiier commented on #20
I run redis with a docker-compose.yml file @https://github.com/redis/redis-om-spring/blob/main/docker-compose.yml.
And it runs well

[2022-03-04 01:56] GeWiier commented on #20
[code]

[code]

[2022-03-06 04:08] bsbodden commented on #20
I'll try to put together a reproducer project and see if I can figure out how openfeign is nulling or intercepting the app object. Haven't used openfeign before so bear with me! Thanks!

[2022-03-07 05:52] luxia7758 commented on #19
Thanks for your reply. I tried your url for redis-om-spring-skeleton-app, and it returns 404. I had just created a empty repo named [redis-om-spring-demo](https://github.com/luxia7758/redis-om-spring-demo)  and give you access.  You are free to clone now.

[2022-03-07 23:20] joshlong opened #21 "Please support java 17 records"

[2022-03-08 23:06] joshlong commented on #21
here's the exception I get when trying to use the following record:

[code]

[code]

[2022-03-09 22:29] bsbodden commented on #19
@luxia7758 can you put a reproducer in that repo and I can investigate? Thanks!

[2022-03-24 09:41] xgaxpp opened #22 "How to set the timeout"
How to set the timeout

[2022-03-25 03:34] #22 closed

[2022-03-25 16:36] bsbodden opened #23 "Add support for FT.TAGVALS in repositories"
expose FT.TAGVALS  as `getAll[Tag Indexed Field]` so if in the domain they annotated a field named `colors` with `@Indexable` then they can declare a `getAllColors` method and under the covers, we’ll use `FT.TAGVALS`

[2022-03-25 16:39] bsbodden opened #24 "Enable deleting part of a document given a path w/o retrieving the full document"
- JSON.DEL id, path ==> `repository.deleteById(id1, Path.of("$.tag"));`

[2022-03-25 16:43] bsbodden opened #25 "Expose RediSearch features in Repositories/Query Builder"
Entails exposing the commands not directly related to FT.SEARCH and FT.AGGREGATE as part of the Repository API in Spring.

[  ] Suggestions API

- [FT.SUGADD](https://oss.redis.com/redisearch/Commands/#ftsugadd)
- [FT.SUGGET](https://oss.redis.com/redisearch/Commands/#ftsugget)
- [FT.SUGDEL](https://oss.redis.com/redisearch/Commands/#ftsugdel)
- [FT.SUGLEN](https://oss.redis.com/redisearch/Command

[2022-03-25 16:45] bsbodden opened #26 "Design/Proposals for Search Index Creation/Maintenance/Migrations"
- Spring configuration for Index Creation and output of Indices text for DevOps purposes
- Maven and Gradle tasks to output the current list of indices and Redis Search command

[2022-03-29 23:52] #23 closed

[2022-03-30 23:20] #24 closed

[2022-04-06 16:54] pierrelambert opened #29 "Enable Updating part of a document given a path w/o retrieving the full document"
JSON.SET key path value XX ==> repository.update(id, Path.of("$.tag"), value)

[2022-04-06 18:17] pierrelambert opened #30 "Enable the ability to generate index creation for nested objects inside a List"
[code]
And

[code]

Expected capability : FT.CREATE "com.package.ParentIdx" "ON" "JSON" "PREFIX" "1" "com.package.Parent:" "SCHEMA" "$.name" "AS" "name" "TAG" (...) "$.childs[*].name" AS "childs_name" "TAG"

[2022-04-06 18:30] pierrelambert opened #31 "Prevent non-optimal indexing on List objects"
In such configuration

[code]
AND

[code]

Actual behaviour: FT.CREATE "com.package.ParentIdx" "ON" "JSON" "PREFIX" "1" "com.package.Parent:" "SCHEMA" "$.name" "AS" "name" "TAG" (...) "$.childs[*]" AS "childs" "TAG"

while it should add the $.childs[*] path to the index , should it ignore it / return an error , but such an index is not functional.

[2022-04-06 20:54] bsbodden commented on #29
@pierrelambert there is already a way to do this outside of the object mapping, by injecting a `RedisModulesOperations` you can get a `JSONOperations` that gives you access to the JSON.XXX commands:

[code]

For the Object-Mapped Spring Entities I've added a new method to the Repository `updateField`:

[code]

It uses the Metaclass object to indicate which object field to update, it currently only

[2022-04-06 21:00] #29 closed

[2022-04-06 21:13] bsbodden commented on #31
@pierrelambert can you describe what you think the optimal index for the above example would be? For cases like that force the field to be serialized as a JSON array like this:

[code]

This works for things that can be flattened to a string element in the array. The `roms-permit` demo has an example:

https://github.com/redis/redis-om-spring/blob/main/demos/roms-permits/src/main/java/com/redis/om

[2022-04-07 07:35] pierrelambert commented on #31
Makes sense for List/Set of String.
When this is not a List/Set of String but a more complex object would not it make sense to directly index the @indexed fields of the nested object?

Exception warning it would be ignored maybe ?

[2022-04-08 23:57] #31 closed

[2022-04-08 23:58] bsbodden commented on #31
The compromise, since Index creation happens on application startup, was to skip the field index creation and log an error like:

[code]

[2022-04-09 00:04] bsbodden commented on #30
Apparently this is not yet supported on RediSearch/RedisJSON https://redis.io/docs/stack/json/indexing_json/#it-is-not-possible-to-index-json-objects - I'm closing and we'll revisit once the backend supports it.

[2022-04-09 00:04] #30 closed

[2022-04-09 15:47] bsbodden opened #33 "Tag field inside array of JSON Objects can be indexed"
`$.object[*].field_name` => was accepted in FT.CREATE when I tested it. (from @pierrelambert )

[2022-04-10 20:52] shannonantony opened #34 "How do I wire sentinel configuration in the demo sample?"
Hi, I am playing with demo application as part of redis-om-spring project. I would like to know how do I wire the demo sample with Sentinel configurations?

appreciate your help

thanks

Jay

[2022-04-10 21:16] bsbodden commented on #34
I think on your app you can do something like this:

[code]

Let me know if you run into any issues.

[2022-04-10 21:17] daveish commented on #19
I have the same problem. This happens when I add `spring-cloud-stream` as dependency.
As soon as I remove the dependency, it works.

Here is a [reproducer repo](https://github.com/daveish/redis-om-spring-demo)

[2022-04-10 21:20] bsbodden commented on #25
Suggestions API has been incorporated as part of the repository API. See 492d175b4191a97b1171b6577dad9af85c6ffb38 new issues for Syns and Spellcheck will be added later

[2022-04-10 21:20] #25 closed

[2022-04-10 22:01] shannonantony commented on #34
Hi,

First of all, thanks for the quick reply.

I added the code as below to the redis-om-spring-skeleton-app.

@SpringBootApplication
@EnableSwagger2
@EnableRedisDocumentRepositories(basePackages = "com.redis.om.skeleton.*")
public class SkeletonApplication {

	@Autowired
	PeopleRepository repo;

	@Bean
	public RedisConnectionFactory jedisConnectionFactory() {
		RedisSentinelConfiguration sentine

[2022-04-10 23:44] bsbodden commented on #19
Thanks for the reproducer, I started investigating "Spring Cloud Stream" with Redis and it seems the two projects aren't currently compatible, see:
- https://stackoverflow.com/questions/64215736/how-can-i-configure-redis-as-a-spring-cloud-dataflow-source
- https://spring.io/blog/2020/09/29/case-study-remote-file-ingest-with-spring-cloud-data-flow
- https://github.com/spring-cloud/spring-cloud-stre

[2022-04-10 23:50] daveish commented on #19
@bsbodden You're welcome!
I imported `spring-cloud-stream` to use it with the `kafka-binder` btw., I had no intention of using the `redis-binder`.
The two dependencies (spring-cloud-stream and redis-om-spring) should not clash in my opinion.

I think the problem lies with the `RedisDocumentRepositoryFactoryBean` constructor. It states that the parameter is ambiguous.

[2022-04-10 23:59] bsbodden commented on #19
Can you do a quick test with just Spring Data Redis instead of Redis OM Spring, that might give us a clue. On the meantime I'll try to see if an explicit declaration of RedisModulesOperations does the trick.

[2022-04-11 00:14] daveish commented on #19
@bsbodden It works with `spring-data-redis` repositories, see [additional reproducer](https://github.com/daveish/redis-om-spring-demo/tree/spring-data-redis-demo).

[2022-04-11 04:48] bsbodden commented on #34
I'll give it a try soon and let you know what I find out

[2022-04-11 04:50] bsbodden commented on #19
No luck so far, tried a bunch of techniques to deal with ambiguity in the injection process but no luck so far. I'll make a new release as soon as I can find a solution.

[2022-04-11 18:07] daveish commented on #19
I made it work, I will submit a PR.

[2022-04-11 18:45] bsbodden commented on #19
Awesome! Thanks, David (@daveish) ! I will check the PR now.

[2022-04-11 18:58] daveish commented on #19
I opened another PR. I did some boy scouting while I was at it.

See ##36

Cheers!

[2022-04-11 19:02] #19 closed

[2022-04-11 19:24] bsbodden opened #37 "Test: Add tests for the demo applications using TestContainers"

[2022-04-11 19:57] bsbodden commented on #20
@GeWiier can you give this a try again with the latest snapshot release? `0.3.2`

[2022-04-12 04:23] GeWiier commented on #20
Now it works fine with springdoc

[2022-04-12 05:03] bsbodden commented on #34
@shannonantony Can you try again with version `0.3.2`?

[2022-04-12 06:16] shannonantony commented on #34
@bsbodden  Thanks again.

I did following changes to make it work

@Bean
public JedisConnectionFactory jedisConnectionFactory() {
	RedisSentinelConfiguration sentinelConfig = new RedisSentinelConfiguration().master("mymaster")
			.sentinel("10.x.x.x", 26379).sentinel("10.x.x.x", 26379).sentinel("10.x.x.x.", 26379);
	return new JedisConnectionFactory(sentinelConfig);
}

also set the following prope

[2022-04-20 19:18] bsbodden opened #40 "Feature: Implement Spring Data Query by Example API backed by RediSearch"
See https://docs.spring.io/spring-data/data-redis/docs/current/reference/html/#query-by-example

[2022-04-23 15:21] bsbodden commented on #33
Addressed by https://github.com/redis/redis-om-spring/pull/41

[2022-04-23 15:21] #33 closed

[2022-04-25 20:38] bsbodden opened #42 "Enhance Entity Streams with RedisJSON Numeric, String and Boolean commands"
Design a fluid interface to expose:
1. [JSON.NUMINCRBY](https://oss.redis.com/redisjson/commands/#jsonnumincrby)
3. [JSON.TOGGLE](https://oss.redis.com/redisjson/commands/#jsontoggle)
4. [JSON.STRAPPEND](https://oss.redis.com/redisjson/commands/#jsonstrappend)
5. [JSON.STRLEN](https://oss.redis.com/redisjson/commands/#jsonstrlen)

[2022-04-27 09:32] gkorland opened #43 "Migrate to Jedis 4.2"
[code]
Should be replace with Jedis 4.2

[2022-04-27 14:16] bsbodden commented on #43
@gkorland I really would like to do that but I'm getting the Jedis dependency from Spring Data Redis, at the moment, on the current release they are at `3.7.0` and I believe just overriding that with `4.2` would break SDR which we rely on for some of the lower-level APIs. Let's discuss soon!

[2022-04-27 14:20] gkorland commented on #43
https://github.com/spring-projects/spring-data-redis/pull/2287

[2022-04-28 01:01] bsbodden opened #44 "Enhance Entity Streams with RedisJSON Array commands"
1. [JSON.ARRAPPEND](https://oss.redis.com/redisjson/commands/#jsonarrappend)
2. [JSON.ARRINDEX](https://oss.redis.com/redisjson/commands/#jsonarrindex)
3. [JSON.ARRINSERT](https://oss.redis.com/redisjson/commands/#jsonarrinsert)
4. [JSON.ARRLEN](https://oss.redis.com/redisjson/commands/#jsonarrlen)
5. [JSON.ARRPOP](https://oss.redis.com/redisjson/commands/#jsonarrpop)
6. [JSON.ARRTRIM](https://oss

[2022-04-28 02:31] #42 closed

[2022-04-30 23:29] shannonantony opened #45 "How to implement IN Clause"
Hi, I have a list of employees in my data set. Please let me know how do I write a query to select like

select employees where employeeId in (1,2,3)

Appreciate your help

thanks

Jay

[2022-04-30 23:30] shannonantony commented on #34
thanks for your help

[2022-04-30 23:30] #34 closed

[2022-05-01 16:04] bsbodden commented on #45
Jay,
There are a couple of ways you can accomplish that:

1.  You can use the `RedisDocumentRepository#findAllById` (https://docs.spring.io/spring-data/commons/docs/current/api/org/springframework/data/repository/CrudRepository.html#findAllById-java.lang.Iterable-)

  Here's a sample test:

  https://github.com/redis/redis-om-spring/blob/main/redis-om-spring/src/test/java/com/redis/om/spring/annot

[2022-05-02 02:32] shannonantony commented on #45
Thanks for your reply @bsbodden

Yes. first option works for the id field.
But second option does not work for me

my data sample like

id       employee_id              dept_id
----------------------------------------
1                A                            100
2                B                             200
3                C                             300

If I need to get a list of e

[2022-05-02 21:56] bsbodden commented on #45
It's likely becuase `employee_id` and `dept_id` have a `_` and in Spring the underscore is used to denote a nested field in a query. I've added a JUnit test matching your example above here https://github.com/redis/redis-om-spring/blob/main/redis-om-spring/src/test/java/com/redis/om/spring/annotations/document/BasicRedisDocumentMappingTest.java#L146

Jump on our Discord server for these types of i

[2022-05-02 23:34] shannonantony commented on #45
I repeated the same test in my local and getting empty results for
`Iterable<Metadata> metadata = metadataRepo.findByDeptId(Set.of("C", "B"));`
As in the example, I have 3 records in redisearch. but the query is somehow returning empty
Not sure what am I missing.
thanks again for your help
Jay

[2022-05-04 05:14] bsbodden commented on #45
@shannonantony can you provide a reproducer project that I can play with? Thanks

[2022-05-04 05:33] shannonantony commented on #45
I basically modified the skeleton app as below

[code]
Also, Added Controller endpoint in PeopleControllerV1 as

[code]
Please let me know if you want the whole app? not sure how do I send it though

thanks for looking into my issue

thanks again

Jay

[2022-05-04 13:26] bsbodden commented on #45
Yes, if you could just a standalone maven project with main App, the model, the repo and your controller. That way I can run it against a local Redis and see what commands are being issued.

[2022-05-04 17:16] bsbodden commented on #45
You can use `redis-cli` with the `MONITOR` flag. Like `redis-cli MONITOR` and like a `tail -f` on the Redis Server.

[2022-05-08 07:07] shannonantony commented on #45
I created a separate app and it works now. I need to go back to the original app and find out what went wrong.
Thanks for your guidance and tips!!! very much appreciated !

[2022-05-08 07:07] #45 closed

[2022-05-19 09:34] oalles commented on #43
https://github.com/spring-projects/spring-data-redis/pull/2287
Already closed :clap:

[2022-05-20 02:55] bsbodden opened #46 "Allow custom keyspace prefix for @Document annotated objects"
`@Document("foo")` should result in keys like `foo:[id]` where `id` is the object's id

[2022-05-20 02:58] #46 closed

[2022-05-20 14:03] bsbodden commented on #43
I got a branch ready, waiting for a few dependencies to be published and we should be good to go.

[2022-05-25 10:43] SamuelPark opened #47 "Error occurs on startup making repository"
Hi
I got error during starting up my spring boot application
I don't get why this happens  if i added any repositoy in my project.
Here is my stack trace and maven project file for reproduce my issue.

[IAPTest.zip](https://github.com/redis/redis-om-spring/files/8770313/IAPTest.zip)

I am using spring boot 2.6.7 version and redis om spring 0.4.0-SNAPSHOT

`
Error starting ApplicationContext. To di

[2022-05-25 11:06] bsbodden commented on #47
Samuel,
I couldn't get your reproducer to compile, I got:

[code]

But I couple of things to try:

You can remove the snapshots repo and just use the official release `0.5.0`:

[code]

Remove the `.*` from the `basePackages` and change `EnableRedisEnhancedRepositories` with `EnableRedisDocumentRepositories` since you are using `@Document` and not `@RedisHash` (`EnableRedisEnhancedRepositories` is

[2022-05-25 13:10] SamuelPark commented on #47
Thanks I will try it ASAP. I am off the office at this time.
P.S : Did you get error when "mvn compile" ?

[2022-05-25 14:24] SamuelPark commented on #47
Hi
I updated redis om version to 0.5 and remove wildcard but it didn't luck
I removed most of irrelevant dependencies and remove import statement.
I tested on my clean home machine and it produced same error.
Please test this project  with "mvn test"
[RedisOMTest.zip](https://github.com/redis/redis-om-spring/files/8771963/RedisOMTest.zip)

[2022-05-25 15:18] bsbodden commented on #47
I'm glad that worked. Yes, if you have both Hash and JSON persistent objects, I would separate them and their repositories and add both  `EnableRedisEnhancedRepositories` and `EnableRedisDocumentRepositories` with `basePackages` pointing to the two different locations.

[2022-05-25 15:18] #47 closed

[2022-05-26 04:55] SamuelPark commented on #47
Hi
I got same error when i put `EnableRedisEnhancedRepositories` to use RedisHash Data.
It occurs only for  `EnableRedisEnhancedRepositories`  Annotation.

if i comment on `ServerConfiguration` Application starts well

[code]

I think it is related with mybatis autoconfigure spring action. but i don't get why it happens.
If i remove mybatis dependency i don't get error.
but in my project this depe

[2022-06-04 13:48] anyili opened #48 "redis cluster support"
Could we have support for redis cluster, it seems all search and bloomfilter and json are for single instance.

[2022-06-07 08:17] lizhe-gethub opened #49 "@Query problem limit"
public interface StateRepository extends RedisDocumentRepository<StateDTO, String> {
    @Query("(@teamId:{$teamId})(@tonalState:{$tonalState}) limit 0 100")
    Iterable<StateDTO> findByTeamIdAndTonalStatePage(@Param("teamId") String teamId, @Param("tonalState") String tonalState);
}

use [limit offset: size:] You can't get any documentation

[2022-06-08 13:34] greamrod opened #50 "JedisDataException: ERR unknown command 'JSON.SET'"
[code]

pom.xml
[code]
Javebean
[code]

ProductController .java
[code]

[2022-06-11 06:28] bsbodden commented on #50
@greamrod can you check your Redis installation by launching the Redis CLI and typing:

[code]

That will list the modules installed, it is likely that you don't have the JSON module installed. Download Redis Stack if that is the case (it comes pre-installed with the JSON and Search modules).

You can find it here ==> https://redis.io/docs/stack/get-started/install/

[2022-06-15 18:55] DinkoTontchev opened #51 "Spring `@Version` optimistic locking annotation is unsupported"
To easily reproduce, modify `com.redis.om.spring.annotations.document.fixtures.Company` to add a Spring `@Version` annotation like so:
[code]
then run your existing test ` com.redis.om.spring.annotations.document.BasicRedisDocumentMappingTest:testAuditAnnotations()`
and observe the following error:
[code]

It seems your implementation of CRUD repository is not updating the version field therefore

[2022-06-23 02:06] BrightFutureSugar opened #52 "The difference between Declarative Search Indices and Full-text Search Indices"
Full-text Search can search for data through findBy*StartingWith But Declarative Search Indices can't. I want to know the difference.
Name is  Full-text Search Indices. Color is Declarative Search Indices.
    Optional<Phone> findOneByName(@Param("name")String name);
    Can get results

    @Query("@name:{$name}")
    Optional<Phone> findOneByName(@Param("name")String name);
    Can't get results

[2022-06-28 03:53] bsbodden commented on #52
@BrightFutureSugar can you post an example of your Phone entity? I'm not sure I get the questions but here's a guess. Entity fields marked with `@Searchable` are used to create a TEXT index while fields marked with `@Indexable` are either TAG, GEO or NUMERIC (depending on the Java datatype). The startingWith searches only work on fields marked as `@Searchable` (TEXT), see https://redis.io/docs/sta

[2022-06-28 04:01] bsbodden commented on #51
@DinkoTontchev  Spring Data Redis doesn't support `@Version` and since we extend SDR neither do we at the moment. I'll have to take a look at whether it makes sense with Redis. I'm sure there is a reason they didn't implement it in SDR, I'll comment after I do some research.

[2022-06-28 04:01] #50 closed

[2022-06-28 04:03] bsbodden commented on #49
@lizhe-gethub could you share your `StateDTO` and maybe some sample data.

[2022-06-28 04:04] bsbodden commented on #48
@anyili it's on the roadmap!

[2022-06-28 13:12] anyili commented on #48
BTW, do you have ETA, we are using Redis as our primary DB at this moment

[2022-06-29 07:06] BrightFutureSugar commented on #52
Thank you for your answer. I got it.

[2022-06-29 07:06] #52 closed

[2022-06-30 15:24] bsbodden commented on #49
@lizhe-gethub the LIMIT clause is not part of the literal query, instead you want to pass a `Pageable` object and declare it in the signature like:

In repository:

[code]

The use the query like:

[code]

[2022-07-03 18:57] pierrelambert opened #54 "Adding support for more options for Ids"
It would be nice to have support for implicit Id for instance the field value of a document would be used as key.
I imagine it would be a new annotation like @RedisId.
This should not prevent to use a prefix either coming from the Document annotation content either clearly stated in the Id annotation.

It would as well be nice to have the ability to generate a sequential Id.

[2022-07-04 15:04] BrightFutureSugar opened #56 "About query"
Java Bean
------------------------------------------
[code]
-------------------------------------------------------
[code]
--------------------------------------------------
[code]

[2022-07-04 15:07] bsbodden commented on #51
Potentially follow Spring Data Mongo lead https://docs.spring.io/spring-data/mongodb/docs/current/reference/html/#mongo-template.optimistic-locking. Perhaps backed by https://redis.io/commands/watch/

[2022-07-05 02:00] BrightFutureSugar commented on #56
[code]

[2022-07-07 07:52] chayim opened #58 "Migrate fully from Circle to GHActions"

[2022-07-07 07:53] chayim opened #59 "Integrate codecov support for CI runs"

[2022-07-07 07:53] chayim opened #60 "Update project to default java projects release configuration"

[2022-07-07 07:54] chayim opened #61 "Add support for linting within the CI process"

[2022-07-07 07:55] chayim opened #62 "CI should test with multiple versions of the JRE"

[2022-07-07 09:02] chayim opened #63 "Integrate spell checks into CI for documentation"

[2022-07-07 14:35] chayim opened #64 "Add perf to CI flows"

[2022-07-09 17:08] bsbodden opened #65 "Add Pipelining for any bulk update operations"
Particularly `saveAll` for `RedisDocumentRepository` and `RedisEnhancedRepository`

[2022-07-09 17:10] bsbodden opened #66 "Support @TimeToLive on JSON-mapped objects"
Provide support for:
* Default TTL for entities using `@Document` just like `@RedisHash` supports https://docs.spring.io/spring-data/redis/docs/current/api/index.html?org/springframework/data/redis/core/TimeToLive.html
* Support for `@TimeToLive` field-level annotation

[2022-07-12 17:09] #63 closed

[2022-07-12 23:19] #66 closed

[2022-07-13 16:59] ally-jarrett opened #69 "Bug: Fix Character Escaping on Generic Searches"
Currently (0.5.1) Generic searches are broken as wilcard and special characters will be escaped.

For Example:

Consider the repository method:
[code]

Using Search terms such as:
[code]

redis-om will produce the following queries params:

[code]

Escaping for generic searches should be left to the calling client rather than the redis-om lib.

[2022-07-14 23:01] gkorland opened #72 "Use pipe "|" as default separator for TAG index fields"
It seems like all the indexed fields are set as `TAG` but with a `"SEPARATOR" ","`  which can cause unexpected results if the field values does contain `,`

[2022-07-15 07:26] snipercy opened #74 "how to rebuild index on application startup"
when I modify a Domain(eg:Company) which annotation `@Document` ，when application start , it check index (eg:com.xxx.CompanyIdx) , if the index is already exist, it will skip build new index.  How to rebuild index？

[2022-07-15 21:21] bsbodden commented on #74
Hi, at this moment the only way to trigger the index rebuild is to remove the index using `FT.DROPINDEX myindex` https://redis.io/commands/ft.dropindex/

This is so in production DevOps can control the index management and we don't trigger a reindex on a massive keyspace. We are looking into an index migration type of feature in the future.

[2022-07-18 15:58] #69 closed

[2022-07-18 22:18] bsbodden opened #76 "Document Gradle project setup"

[2022-07-18 23:12] #58 closed

[2022-07-18 23:12] #60 closed

[2022-07-21 08:43] #74 closed

[2022-07-21 08:49] snipercy opened #77 "Returns the specified column"
how to Returns the specified column？

for example, code like this:

var fields = ["id","name"]
Page<Substation> ret = rcompanyRepository.findByFileds(fields,pageRequest);

[2022-07-21 08:59] alexvasseur opened #78 "@Query and escaping"
using 0.5.2-SNAPSHOT

    @TagIndexed
    @SerializedName(value = "genre", alternate = "Genre")
    private List<String> genre;

Page<Movie> findByGenre(@Param("genre") Set<String> genre, Pageable pageable);
=> works with "Sci-Fi" as Redis OM is escaping automatically the hyphen
http://localhost:8080/movie/genre/?genres=Sci-Fi&page=0&size=10
"FT.SEARCH" "io.redis.model.MovieIdx" "@genre:{Sci\\-Fi}

[2022-07-22 05:25] bsbodden commented on #77
Currenly this is only possible with the low-lovel `@Query` annotation, like:

[code]
and then use it like:

[code]

OR using the EntityStreams API like:

For example, here we find all `Company` entities, we sort them by the `Company.getName()` property, and return the field NAME (`getName`) and YEAR_FOUNDED ('getYearFounded`):
[code]

[2022-07-22 15:19] vishrut22 opened #79 "Aggregation support"
Hi Team,
I was exploring the library and looking into it , seems that aggregation functions are minimal supported . What is the otherway which you suggest for implementing aggregation ?

[2022-07-22 19:35] bsbodden commented on #79
We are currently working on an EntityStreams-like implementation for Aggregations; stay tuned!

[2022-07-23 08:06] ally-jarrett opened #80 "Bug: search Command using '*' cannot be serialised"
Repository implementation:

`Page<Movie> search(String searchCriteria, Pageable pageable);`

When you perform a query to return all results i.e. '*' this causes a stack trace from redis-om e.g.

`searchCriteria = "*"`

this translates into the valid RediSearch query: `"FT.SEARCH" "io.redis.model.MovieIdx" "*" "LIMIT" "0" "20"`

however redis-om throws:

`java.lang.IllegalStateException: Expected B

[2022-07-23 08:13] ally-jarrett opened #81 "Bug: search command not passing sorting parameters"
Repository implementation:

[code]

When you pass sorting criteria via the PageRequest:

[code]

this translates into the RediSearch query: `"FT.SEARCH" "io.redis.model.MovieIdx" "*" "LIMIT" "0" "20"`
where the query should be: `"FT.SEARCH" "io.redis.model.MovieIdx" "*" "SORTBY" "<field>" "DESC" "LIMIT" "0" "20"`

The sorting criteria is completely ignored, whereas on other repository methods it i

[2022-07-23 08:57] ally-jarrett commented on #80
I've tested with the latest RedisStack impl and this issue is fixed. I noticed discrepancies in the responses RedisSearch was returning.

[2022-07-23 08:57] #80 closed

[2022-08-01 13:14] #76 closed

[2022-08-03 16:17] varapriya opened #83 "Coudn't find a way to integrate redis-om-spring with springboot cache annotations"
I have an application that uses redis as cache in my springboot application where it uses cache annotations(@Cacheable,@CacheEvict,@CachePut) to leverage redis .I don't see a way to leverage redis-om-spring to query by index to the data that was stored through cache annotations .

Could you show a way to integrate springboot cache with redis-om-spring

[2022-08-09 18:43] bsbodden commented on #81
@ally-jarrett this has been fixed and will be in the next release.

[2022-08-14 13:45] restoreddev opened #86 "Exception with Spring Boot 2.7.2"
I'm trying to use `redis-om-spring` with Spring Boot 2.7.2 and OpenJDK 18. Whenever I add the `@EnableRedisDocumentRepositories` annotation to my application class, I get the following exception on build: `java.lang.IllegalArgumentException: No attribute named messageListenerContainerRef found`. I don't see any documentation about the `messageListenerContainerRef` or how to set it. Am I using the

[2022-08-14 17:06] bsbodden opened #87 "Evaluate de.huxhorn.sulky.ulid vs. com.github.f4b6a3.uuid-creator"

[2022-08-14 18:33] bsbodden opened #88 "Handle custom return types when using `@Aggregation`"
See RedisearchQuery#executeAggregation

[2022-08-15 16:16] bsbodden commented on #86
We're tethered to 2.7.0 at the moment, I'll catch up with 2.7.2 in release 0.7.0. Thanks for reporting!

[2022-08-15 17:57] #77 closed

[2022-08-17 08:40] ally-jarrett commented on #81
excellent, thanks @bsbodden

[2022-08-21 15:45] #81 closed

[2022-08-21 15:45] #78 closed

[2022-08-24 10:38] PiseyPhal commented on #86
Hi Brother!

I am really also missing about the **messageListenerContainerRef**.

How about now?

[2022-08-24 10:39] PiseyPhal commented on #86
Problem was solved?

[2022-08-24 15:39] bsbodden commented on #48
Looks like we'll have that by the end of October

[2022-08-24 19:25] bsbodden commented on #86
0.6.0 will work with 2.7.2 for now the highest Spring Boot version supported is 2.7.0

[2022-08-25 03:40] PiseyPhal commented on #86
Thank, appreciate it!

[2022-08-27 19:13] bsbodden commented on #65
Raphael @raphaeldelio I've added this issue that matches what you are working on

[2022-08-28 06:07] bsbodden commented on #54
@pierrelambert can you come up with a simple example, to get a better idea? Currently, I believe that if you mark a field with `@Id` and set the values before calling `repository.save(entity)` the set value is respected. Does that cover the scenario above?

[2022-08-28 23:21] #65 closed

[2022-08-28 23:51] #72 closed

[2022-08-29 15:44] bsbodden opened #93 "Extract tests to separate project under the main POM and extract test utilities to a reusable library"
The current directory structure:
[code]

Proposed directory structure:

[code]

[2022-08-29 15:48] maorohana-redis commented on #93
comment

[2022-08-29 15:55] maorohana-redis commented on #37
comment

[2022-08-29 19:16] #86 closed

[2022-08-30 03:50] bsbodden commented on #83
@sazzad16 Some thoughts on this, if you decide to tackle it. When you use `@Cacheable` with an entity like:

[code]

say, in a service class like:

[code]

You typically use a configuration to determine how the cache entries are serialized:

[code]

Witht the above configuration, your cache entries end up looking like this:

[code]

E.g., they are simple Redis keys, not Hashes or ReJSON values. Th

[2022-08-31 00:49] bsbodden opened #97 "Honor indexing annotation "aliases" when querying"

[2022-08-31 16:34] #97 closed

[2022-09-01 03:09] jacker996icu opened #100 "Geo search on Point failed under @RedisHash"
say i have a User class:
[code]
then redis-om-spring store it in redis hash just like this:
[code]
and the index created just like this:
[code]
when perform geo search:
[code]
then redis operation:
[code]
I can't find target this way.

I tried to add another filed `String location`:
[code]
and set value "153.616667, -28.716667"
then perform geo search on this filed
[code]
then redis operation:
[co

[2022-09-01 03:58] bsbodden commented on #100
This is all working on release `0.6.0` which should be dropping in the next day or so.

[2022-09-01 04:22] jacker996icu commented on #100
that's great :)

[2022-09-04 20:17] artemrogov opened #102 "No attribute named messageListenerContainerRef found"
Run application, see error:

Stack trace:
`java.lang.IllegalArgumentException: No attribute named messageListenerContainerRef found
	at org.springframework.data.repository.config.AnnotationRepositoryConfigurationSource.getAttribute(AnnotationRepositoryConfigurationSource.java:277) ~[spring-data-commons-2.7.2.jar:2.7.2]
	at org.springframework.data.repository.config.AnnotationRepositoryConfiguratio

[2022-09-04 23:08] sazzad16 commented on #102
Duplicate of #86

[2022-09-04 23:08] #102 closed

[2022-09-06 21:43] jacobtonndorf opened #105 "OFFSET exceeds maximum of 10000"
Hello,

when I do something like this:
[code]
 I get the following error:

[code]

 Is this a limitation of jedis or a limitation of this specific query, as I can do this without any problems:

[code]

[2022-09-07 13:52] bsbodden commented on #100
Addressed in release 0.6.0

[2022-09-07 13:52] #100 closed

[2022-09-07 13:53] bsbodden commented on #62
11 to 19?

[2022-09-07 14:05] bsbodden commented on #105
You are hitting the server configuration pre-set limit of 10,000. I think it might be something you can change with an `FT.CONFIG` but I haven't tried myself yet.

[2022-09-07 14:05] #105 closed

[2022-09-08 08:48] pierrelambert commented on #54
Maybe I missed something and need to re-test it, but to me from the moment you use @Id it will generate a UID for the field value and in the key name.

[2022-09-12 08:39] ferinoc opened #106 "transaction support?"
Hi,
are transactions and @Transactional annotations supported?

Thank you for info,
Frantisek

[2022-09-13 12:36] bsbodden commented on #106
Not yet, we are planning on how to best implement it. Stay tuned.

[2022-09-13 18:59] ferinoc commented on #106
is there any timeline, please? thx again :)

[2022-09-14 11:37] PaulBenn-UnlikelyAI commented on #43
Hi there - is there a release version coming out soon with this change? The last update was in May, so just checking in now that someone is assigned to it. Cheers

[2022-09-14 17:17] ferinoc opened #107 "[question] primary keys as fully qualified names"
In  this presentation was shown that keys/data are stored as keys as fully qualified names
https://www.youtube.com/watch?v=ub-jDOb7jEM
What happens if we rename "dbo" classes or move to different package, please?

[2022-09-15 14:38] bsbodden commented on #43
`0.6.0` was just released, but the Jedis upgrade is still in the works. So likely close to `1.0.0`

[2022-09-15 15:05] bsbodden commented on #107
If you rename your classes or move them to a different package you have 2 options:

1. **Easy**: Use the `value` on the `@Document` annotation, that overrides the key prefix for the collection:

[code]

2. **Not so easy**: Rename the keys to the new fully qualified package using the RENAME command https://redis.io/commands/rename/

[2022-09-15 19:27] #107 closed

[2022-09-16 13:20] ferinoc commented on #21
any timeline for this please?

[2022-09-19 16:35] ferinoc opened #108 "[question] Is possible search via Java predicate?"
Is possible search via Java predicate or only via SearchFieldPredicate ?
![image](https://user-images.githubusercontent.com/1408155/191067887-5e2d2cfd-b698-4e1b-a703-4ea31dd25200.png)

Thank you again.
Frantisek

[2022-09-19 17:17] bsbodden commented on #108
Not currently, Java lambdas and not like .Net lambdas, they're not easily parseable and it slightly changes from JVM to JVM (a lot of byte-level changes). So until the Java language provides a clean way to parse Lambdas into an AST we're out of luck. I haven't check the Java 17-18-19 specs for this but up to 11-15 we still a no-go in that respect.

[2022-09-19 17:17] #108 closed

[2022-09-23 16:47] bsbodden commented on #106
Likely with the 1.0 release ~ EOY

[2022-09-29 06:43] Nikhilkdm3 opened #110 "Return specific key/values from a document using EntityStream"
Hello,

I'm attempting to extract specific key/value pairs from a document using EntityStream. I used .map, but it returns a Pair/Triple response based on the number of fields specified.

I have included some sample code below for better understanding.

**With all fields:**

`return entityStream .of(Company.class) .limit(2).collect(Collectors.toList()); // this will return to the controller and it

[2022-09-30 09:57] praks84 opened #111 "Adding Redis om spring dependency in spring cloud stream project gives startup error"
Hello,

I have a spring cloud stream project with kafka streams binder dependency - no issues at startup.
Next I add redis om spring dependency 0.6.0, add a model object annotate it with @Document and annotate main class with @EnableRedisDocumentRepositories. Now I get below error at startup

Caused by: java.lang.ArrayIndexOutOfBoundsException: Index 0 out of bounds for length 0
at com.redis.om.sp

[2022-09-30 09:58] AnujaK opened #112 ""findBy...Between..()", findBy..GreaterThanEqual() etc. Methods throw NoSuchMethodError"
Redis-om-spring version 0.6.0

As an extension to the example of Search on Redis Hashes(in this repo), I added a long field 'startUTC' that is indexed. None of the findBy methods work - findByStartUTCBetween() , findByStartUTCGreaterThanEqual(), findByStartUTCGreaterThanEqualAndStartUTCLessThanEqual() work. On using FT.SEARCH on the same index with the due params gives correct result for all of th

[2022-10-04 07:11] roux-jerome commented on #111
same issue

[2022-10-04 07:22] roux-jerome commented on #111
[code]

[2022-10-04 07:30] roux-jerome commented on #111
RedisModulesConfiguration.ensureIndexesAreCreated` is invoked twice. The first one `ac.getBeansWithAnnotation(SpringBootApplication.class)` is empty. The second one is not

[2022-10-04 07:37] bsbodden commented on #112
@AnujaK can you provide a code sample, I just tried it with a long field on a `@RedisHash` mapping and a between query like:

**Model:**

[code]

**Repository:**

[code]

That works just fine.

[2022-10-04 09:01] roux-jerome opened #113 "Adding InstantTypeAdapter to GsonBuilderfactory"
Hello,
is it possible to extend the GsonBuidlerFactory ? I would like to add a default InstantTypeAdapter.

Thank you very much for your help

[2022-10-04 10:28] AnujaK commented on #112
Thanks Brian.My classes look pretty similar. Not able to figure out what's different or wrong!

[code]

Repo:

[code]

[2022-10-04 15:51] bsbodden commented on #112
@AnujaK it could be the `startUTC` with all caps for UTC is causing an issue, can you try `startUtc` and report back?

[2022-10-05 00:23] bsbodden commented on #113
@roux-jerome it turns out there's an "official" way to expose the GsonBuilderFactory, I create a PR that accomplishes that here https://github.com/redis/redis-om-spring/pull/114
I also added an InstantTypeAdapter class.

[2022-10-05 16:55] roux-jerome commented on #113
Thank you ! Exactly what i needed.

[2022-10-06 04:37] AnujaK commented on #112
I changed startUTC to startUtc and recreated the DB. I continue to get:
[code]

The command line query works fine:
`FT.SEARCH com.redis.om.hashes.domain.CallIdx  "@startUtc:[1665035502 1665035503]"`

[2022-10-06 16:45] bsbodden commented on #112
Can you post the repository code and the full model and I’ll debug it on my
end, a ZIp or a link to a repo will do the trick.

On Thu, Oct 6, 2022 at 6:37 AM Anuja Kumar ***@***.***> wrote:

--
Cheers,
Brian
https://integrallis.com

[2022-10-07 09:24] AnujaK commented on #112
[Redis-OM.zip](https://github.com/redis/redis-om-spring/files/9732573/Redis-OM.zip)
Java version: Openjdk 17.0.2

[2022-10-10 11:02] bsbodden commented on #110
FYI https://github.com/redis/redis-om-spring/pull/115

[2022-10-11 08:28] #110 closed

[2022-10-14 06:40] bsbodden commented on #113
@roux-jerome see https://central.sonatype.dev/artifact/com.redis.om/redis-om-spring/0.6.1

[2022-10-14 06:41] bsbodden commented on #110
@Nikhilkdm3 This is implemented in https://central.sonatype.dev/artifact/com.redis.om/redis-om-spring/0.6.1

[2022-10-17 10:52] MitsanisBill commented on #48
Hello. Are there any news on this enhancement?

[2022-10-18 14:31] sazzad16 commented on #48
@viktorzavadil No.

[2022-10-22 19:28] DavidFischer1010 commented on #111
See my Comment in the commit, this might be the cause. My previous fix has somehow regressed, I don't know the consequences of reverting this, since a lot has changed, so you might look into this @bsbodden.

The error occurs when I try to send an event via Spring Cloud Stream.

Best,
David

[2022-10-22 19:31] daveish commented on #111
Oops, wrong account. This is the one... :D

[2022-10-25 17:17] #87 closed

[2022-10-25 23:00] bsbodden commented on #112
The problem was mismatched version of Spring in the POM. I updated those and pushed a working copy to https://github.com/bsbodden/issue-112

[2022-10-25 23:00] #112 closed

[2022-10-26 14:48] AnujaK commented on #112
Hey thanks @bsbodden , the fix works great!

[2022-10-28 16:07] praks84 commented on #111
I am stuck because of this issue - any workaround suggestions to get going till the fix?

[2022-10-28 16:15] bsbodden commented on #111
Next release will have solve this issue. Likely out by Monday.

[2022-11-01 16:27] bwhyman opened #119 "Problem with @Aggregation load variable"
hello, I want to generate the following command by using @Aggregation(load = "*").
[code]
However, I got this
[code]
Could anyone tell me what did I miss?

redis-om-spring: 0.6.0
docker image: redis/redis-stack-server:7.0.2-RC3
springboot: 2.7.5

This is my code
[code]
[code]
monitor redis:
[code]

[2022-11-01 22:20] bsbodden commented on #21
Likely will be part of the Sprigng 3.0.0/Java 17 release. Late December/Early January 2023.

[2022-11-01 22:22] bsbodden opened #120 "Implement Vector Similarity Search capabilities"

[2022-11-02 21:56] #111 closed

[2022-11-03 19:07] bwhyman opened #122 "About updateField() method"
I am trying to update field without retrieving the whole document by using updateField().

[code]
When running the first time, the data can be saved and updated.
However, if running the same code, trying to save and update a new document again. I got this, the fully-qualified class name is missing.
[code]

[2022-11-03 21:03] bsbodden commented on #111
@praks84 @roux-jerome This should be fix in https://s01.oss.sonatype.org/content/repositories/snapshots/com/redis/om/redis-om-spring/0.6.2-SNAPSHOT/ a proper 0.6.2 release is pending

[2022-11-03 21:51] bsbodden commented on #122
@bwhyman does it happen on the same running instance of the app, or is this on a restart?

[2022-11-03 23:51] bsbodden commented on #119
It seems the underlying JRediSearch implementation AggregationBuilder can't currently support that aggregation. I think once I migrate to Spring 3.0 / Jedis 4.x we should be able to do so.

[2022-11-04 01:38] bwhyman commented on #119
Great job. Thank you!~

[2022-11-04 01:38] #119 closed

[2022-11-04 02:33] bwhyman commented on #122
springboot: 2.7.5
docker images: redis/redis-stack-server:7.0.2-RC3
FLUSHALL everytime for testing.

redis-om-spring:0.6.2
Monitor null even the FIRST time.
[code]

redis-om-spring:0.6.0 && 0.6.1
Still, the first time is fine, but the second is not.
[code]

Testing in one unit testing, so it restarted everytime, that why it is very odd.
[code]
Hope it's helpful.

[2022-11-04 03:56] bsbodden commented on #122
@bwhyman once this https://github.com/redis/redis-om-spring/pull/123 gets merged I think it should address the issue.

[2022-11-04 04:58] bwhyman commented on #122
Thanks!~

[2022-11-04 04:58] #122 closed

[2022-11-04 15:09] bsbodden commented on #122
@bwhyman could you clear your Maven cache and try the new deployment of 0.6.2-SNAPSHOT?

[2022-11-05 13:00] bwhyman commented on #122
sorry, just saw it. 0.6.2-SNAPSHOT, works fine for me.
[code]
monitor
[code]

Hover, if have encapsulated object
[code]
and only want update user.address.detail, not include insertTime. It will cover the whole address object data.
[code]
So, it seem like updateField(), update without retrieving the whole document, only work for ROOT property.

[2022-11-05 13:09] bwhyman commented on #122
Actually, if @Modifying+@Query(spring-data) can be provided/implemented it will be very flexible.
[code]

[2022-11-06 16:40] anyili opened #124 "com.google.gson.stream.MalformedJsonException for EntityStream"
I was following the example to write query using EntityStream. Something like
[code]

However, I always got `com.google.gson.stream.MalformedJsonException: Use JsonReader.setLenient(true) to accept malformed JSON at line 1 column 12 path $`
Any ideas? Thanks

[2022-11-06 16:49] anyili opened #125 "Add limit/offset support to @Query"
The current `@Query` annotation only supports value and returnFields. By default redis search only return 10 results. Could we have support with limit filed in the `@Query` annotation?

[2022-11-06 18:09] bsbodden commented on #125
@anyili You can use Spring's Pageable to accomplish that, like:

[code]

[2022-11-06 18:16] bsbodden commented on #124
Can you post the code for the `SomeDocument` or the equivalent that you're using and perhaps a simple example to create one?

[2022-11-06 19:52] anyili commented on #125
@bsbodden Hi Brian, I think my question is if you ave returnField in the Query, you can not have Pagable, which will only return 10 records from the redis

[2022-11-07 10:55] sergey-morenets opened #126 "Insufficient documentation for getIds() method in RedisDocumentRepository"
Hi

I tried to use this method in my repository:
[code]

`Iterator<Integer> iterator = repository.getIds().iterator();`

But received an exception:

[code]

Method itself doesn't have JavaDocs so it's not clear how and when to use it. So please JavaDocs or documentation in GitHub.

My User class:

[code]

[2022-11-07 11:02] sergey-morenets commented on #126
Also documentation is not correct for overloaded getIds() method:

[code]

It states that method returns entities but signature clearly shows that it return entity **identifiers**.

[2022-11-07 11:16] sergey-morenets opened #127 "Enable**Repositories annotation does not discover Models if not as part of main app"
Hi

I tried to use search functionality:

[code]

But when I call findByName method I receive an exception:
[code]

My document:

[code]

And configuration:

[code]

[2022-11-07 14:11] Paure42 opened #128 "TTL not used"
Hi,

I'm the using the TTL on a Redis Document like that `@Document(value = "XXXXX", timeToLive = 60 * 60 * 24 * 7)`, it works for some keys but after a while the new keys have a TTL equals to -1.

[2022-11-07 15:40] bsbodden commented on #128
Thanks for reporting. I'll check it out and try to reproduce it. Any other scenario info you might have is appreciated.

[2022-11-07 15:58] bsbodden commented on #127
@sergey-morenets can you link to the full output of the spring-boot run command, also can you do that with an empty redis instance (flushall) and also do (on the redis-cli):
* `FT._LIST` and paste the output?
* `KEYS users:*`

Thanks

[2022-11-07 16:18] Paure42 commented on #128
Thank you.

I'm using `redis/redis-stack:edge`

Here is my pom:
![image](https://user-images.githubusercontent.com/56505105/200360196-ba75807c-b3f7-4bfc-9c06-23883a6a8a1a.png)

[2022-11-07 18:39] sergey-morenets commented on #127
Hi @bsbodden

Yes, sure.

KEYS users:*

`(empty array)`

FT._LIST

`(empty array)`

Spring Boot output:

[code]

[2022-11-07 18:41] sergey-morenets commented on #127
If you ask about Redis OM then it's the latest one (0.6.2)

[2022-11-07 20:26] bsbodden commented on #127
@sergey-morenets it looks like it is not finding the class with the `@Document` annotation based on:
[code]

There is something it doesn't like about your `User` class. Maybe try to fully qualify the `@EnableDocumentRepositories` like:
[code]

[2022-11-08 07:26] sergey-morenets commented on #127
@bsbodden

No, the message is wrong, User class with @Document annotation was found, because save method was executed correctly:

`repository.save(user);`

And data were persisted in Redis. I can create sample project to reproduce the issue.

[2022-11-08 07:39] sergey-morenets commented on #127
@bsbodden I added the sample project: https://github.com/sergey-morenets/redis

[2022-11-08 16:57] mathuamos commented on #127
I solved the issue by  degrading to version 0.60

[2022-11-08 17:44] sergey-morenets commented on #127
Thank you, @mathuamos

So is it regression ?

[2022-11-08 20:28] bsbodden commented on #128
Can you try with `0.6.2` to confirm that it is still present?

[2022-11-08 20:31] bsbodden commented on #127
I was confused since your keys command came up empty for the collection prefix. If it is a regression, I'll release a patch version this weekend

[2022-11-09 10:25] Paure42 commented on #128
The bug is still there.
I have to drop the index and restart the application to resolve it, but when I do that the bug appears on another index. I wonder if it's because the restart of an application that the new keys have a bad ttl ?

[2022-11-09 13:25] shubham2705 opened #129 "Redis TTL not working"
I have implemented RedisJSON using redis-om-spring on top of spring-data-redis.

Using the following implementation
implementation 'com.redis.om:redis-om-spring:0.6.2'

My model looks as follows
@Data
@Document(value = "user", timeToLive = 60 * 60)
public class UserDto {

	@Id
	@Indexed
	private String userId;
	private String name;
	private boolean isActive;
	private String dept;
}
However, the ti

[2022-11-09 15:32] bsbodden commented on #128
With TTLs is pretty hard to debug, I don't have any tests where I simulate the application restarting so that might be the key

[2022-11-09 15:33] bsbodden commented on #128
See #129

[2022-11-09 17:28] bsbodden commented on #127
@sergey-morenets I'm trying your sample, I can make it work by changing the main app to:

[code]

and removing the `RedisConfig`.  I will reword this ticket to reflect that it is a problem with external config to the main app. THanks!

[2022-11-10 00:46] bsbodden commented on #127
No, the issue has been there all along. Configuration outside of the app just doesn't work. I'm researching what needs to be done to make it work.

[2022-11-10 05:51] bsbodden commented on #129
Should be resolved in https://s01.oss.sonatype.org/content/repositories/snapshots/com/redis/om/redis-om-spring/0.6.3-SNAPSHOT/

Could please try it?

[2022-11-10 05:51] bsbodden commented on #128
Should be resolved in https://s01.oss.sonatype.org/content/repositories/snapshots/com/redis/om/redis-om-spring/0.6.3-SNAPSHOT/

Could please try it?

[2022-11-10 05:51] bsbodden commented on #127
Should be resolved in https://s01.oss.sonatype.org/content/repositories/snapshots/com/redis/om/redis-om-spring/0.6.3-SNAPSHOT/

Could please try it?

[2022-11-10 10:37] Paure42 commented on #128
After several tests I think the bug is fixed with this version ! Thank you !

However, I think there is another bug with the TTL but I may be wrong, when a query looks for an element of a key, in my case a hash compute with some elements, that has been erased by the time to live, there is a null pointer exception thrown:

java.lang.NullPointerException
	at com.redis.om.spring.repository.query.Redi

[2022-11-10 13:23] shubham2705 commented on #129
@bsbodden I tried it with the above mentioned snapshot and it is working successfully. Now we are getting the required ttl specified. Thanks for quick resolution.
Also, let me know when you are planning to release this change.

[2022-11-10 13:25] #129 closed

[2022-11-10 13:25] #127 closed

[2022-11-10 13:30] bsbodden commented on #128
@Paure42 can you open another issue for that one? Thanks!

[2022-11-10 13:30] #128 closed

[2022-11-10 13:34] bsbodden commented on #129
We'll probably pack a few more bug fixes and tests and release on Monday/Tuesday

[2022-11-10 13:35] bsbodden commented on #126
@sergey-morenets I think this should be resolved in https://s01.oss.sonatype.org/content/repositories/snapshots/com/redis/om/redis-om-spring/0.6.3-SNAPSHOT/

Could please try it? And thanks for the doc correction.

[2022-11-10 13:35] Paure42 opened #131 "NPE when querying an expired (TTL) JSON document"
I think this a bug related to the TimeToLive but I may be wrong, when a query looks for an element of a key, in my case a hash compute with some data, that has been erased by the time to live, there is a null pointer exception thrown:

java.lang.NullPointerException
at com.redis.om.spring.repository.query.RediSearchQuery.executeQuery(RediSearchQuery.java:344)
at com.redis.om.spring.repository.quer

[2022-11-10 14:05] bsbodden commented on #131
@Paure42 thank you. Can you also post the repository code if any?

[2022-11-10 14:43] Paure42 commented on #131
public interface XXXXX extends RedisDocumentRepository<XXXXX, String> {
	Optional<XXXXX> findByHash(final String hash);
}

[2022-11-10 14:46] bsbodden commented on #131
and one more question, is this with `v0.6.2` or the `v0.6.3-SNAPSHOT`? Thanks!

[2022-11-10 15:00] bsbodden commented on #131
My guess is the TTL expires the key, but the key is still in the index at the time of query, but then it NPEs when trying to retrieve the payload of the object.

[2022-11-10 15:34] Paure42 commented on #131
Yes I think too

[2022-11-10 17:00] bsbodden commented on #131
@Paure42 I still can't seem to be able to replicate it. I tried a test like:

[code]

 But it passes without any code changes. Any ideas that will make it closer to your impl?

Entity model:

[code]

and repo:

[code]

[2022-11-10 17:04] bsbodden commented on #131
FYI, I did add a guard for NPE in the RediSearchQuery class which should fix the issue even if I can reproduce.

[2022-11-10 23:35] bsbodden commented on #125
@anyili if you clear you Maven cache and pull down `0.6.3-SNAPSHOT` again I've implemented this feature, see sample usage:
* https://github.com/bsbodden/redis-om-spring/blob/bsb/moar-cleanup/redis-om-spring/src/test/java/com/redis/om/spring/annotations/document/RedisDocumentSearchTest.java#L203
* https://github.com/bsbodden/redis-om-spring/blob/91f2c313bbacbc073ed457e0dd5d5475660c0042/redis-om-spr

[2022-11-10 23:36] bsbodden commented on #131
@Paure42 if you pull `0.6.3-SNAPSHOT` this should be fixed.

[2022-11-10 23:38] bsbodden commented on #124
@anyili can you post a reproducer with some sample data? I'm curious as to what triggers the malformed JSON. Thanks!

[2022-11-11 06:23] sergey-morenets commented on #126
Thank you. getIds() works correctly. Unfortunately there're no sources in this repository so I couldn't check the documentation update.

[2022-11-11 06:29] sergey-morenets opened #133 "java.lang.NullPointerException: Cannot invoke "com.google.gson.Gson.fromJson"
Hi

I received an exception while trying to get all the entities from RedisDocumentRepository:

[code]

Document:

[code]

Repository:

[code]

Code sample:

[code]

Redis OM version: https://s01.oss.sonatype.org/content/repositories/snapshots/com/redis/om/redis-om-spring/0.6.3-SNAPSHOT/

[2022-11-14 09:15] Paure42 commented on #131
Thank you for your work, but the NPE is still there :

at com.redis.om.spring.repository.query.RediSearchQuery.executeQuery(RediSearchQuery.java:362)
	at com.redis.om.spring.repository.query.RediSearchQuery.execute(RediSearchQuery.java:276)
	at org.springframework.data.repository.core.support.RepositoryMethodInvoker.doInvoke(RepositoryMethodInvoker.java:137)
	at org.springframework.data.repository

[2022-11-14 09:17] bsbodden commented on #131
Could you create a self-contained reproducer project?

[2022-11-14 09:21] bsbodden commented on #131
Also, try to clear your Maven cache since I pushed that SNAPSHOT a few timed

[2022-11-14 09:53] Paure42 commented on #131
My maven cache was cleaned up when I tried

I will try to create a self-contained reproducer project

[2022-11-14 11:00] Aadit-Bhojgi opened #134 "JDK 8 compatiable"
When are we planning to make it JDK 8 compatible?
previous issue link -> https://github.com/redis/redis-om-spring/issues/15

[2022-11-14 11:42] Paure42 commented on #131
I think I found something interesting.

Here is my class:

[code]
My repository :

[code]

And my code:

[code]
This cause NPE :
[code]
However if I remove `repository.save(new RedisModelEntity(hash2));` this will not cause NPE.
And if I let `repository.save(new RedisModelEntity(hash2));` but I update the sleep from 1 to 2 seconds the NPE is not thrown.

Seems to be some case of race condition.

[2022-11-14 11:49] Aadit-Bhojgi commented on #134
@sazzad16
can we tag this (or previous) issue appropriately and re-open it to track this compatibility request instead of closing it?

[2022-11-14 12:09] sazzad16 commented on #134
@Aadit-Bhojgi I don't think previous one was closed for no reason. So I'm leaving your requests for higher authority. They can see your comments and tag and re-open if required. Thanks

[2022-11-14 16:31] bsbodden commented on #131
There is a non-negligible time between an object being saved and the index getting updated. I added an extra check for null on the root of the JSON document returned by the engine. I just pushed a new version of the SNAPSHOT. Clear your cache again and give it a try please.

[2022-11-15 08:59] Paure42 commented on #131
Works for me !

[2022-11-15 14:26] bsbodden commented on #131
Thanks, @Paure42! Keep them coming!

[2022-11-15 14:26] #131 closed

[2022-11-15 16:44] bsbodden opened #135 "Only autoindex @Id field when not explicitely indexed by the user"
If the field marked with `@Id` also has `@Indexed` or `@Searchable`, do not autogenerate the index for it.

[2022-11-15 17:57] #126 closed

[2022-11-15 22:09] #125 closed

[2022-11-15 22:09] #133 closed

[2022-11-22 20:19] anyili commented on #125
@bsbodden Thanks for adding this feature, could we have `limit` refer to the parameter in the function signature. So we can call the repository by passing the limit dynamically?

[2022-11-22 20:37] bsbodden commented on #125
Go ahead and create a new issue for it. That feature would likely have to be done with the `Pageable` APIs as to comply with the Spring Data method signatures.

[2022-11-29 09:17] praks84 opened #137 "StackOverflowError if redis document has an indexed Set<Integer> field"
Hi

Using Spring boot 2.7.6 and redis-om-spring 0.6.3

I have a data model with a field of type Set<Integer>
If I annotate my data model with @Document and that field with @Indexed, then I get java.lang.StackOverflowError at application startup and the application fails to start

	at com.redis.om.spring.RediSearchIndexer.getNestedField(RediSearchIndexer.java:430)
	at com.redis.om.spring.RediSearch

[2022-11-29 09:18] chayim commented on #124
CC @sazzad16 maybe of interest to you too?

[2022-11-29 17:46] bsbodden commented on #137
@praks84 can you post a the full stack trace and the java file for the model and repo. Thanks!